<header>

    <div class="greeting">
        <button
            class="menu-btn"
            mat-icon-button
            (click)="toggleDrawerClick()"
            aria-label="Open menu">
            <mat-icon>menu</mat-icon>
        </button>
        <h2>Welcome, {{ username }}!</h2>
        <p>{{ dayName }}, {{ dateStr }}</p>
    </div>

    <div class="actions">

        <span class="user-name-text">{{ username }}</span>

        <div class="profile-dropdown">
          <button
            mat-icon-button
            class="profile-btn"
            [matMenuTriggerFor]="profileMenu"
            matTooltip="Account">
            <img
              src="https://i.pravatar.cc/100"
              alt="avatar"
              class="avatar"
            />
          </button>

          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon color="warn">logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </div>


    </div>

</header>
